@import url("../global/App.css");

.accounts-page {
  font-family: Arial, sans-serif;
  justify-content: left;
  display: block;
  flex-wrap: wrap;
  height: 100%;
  background: var(--color-b);
  width: 100%;
  align-items: flex-start;
  padding: 30px;
  box-sizing: border-box;
  position: fixed;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  z-index: 9998;
  overflow-y: scroll; /* Add this line to enable scrolling */
}

.accounts-header {
  margin: auto auto; /* Add this line to center the element */
  justify-content: center;
  align-items: center;
  width:100%;
}

.accounts-title {
  margin-left: 7.5%;
  font-family: Inter;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width:85%;
  color: var(--text-color-a);
  margin-bottom: 20px;
  padding-top: var(--title-bar-height);
}

.accounts-quick-entry {
  margin-left: 7.5%;
  width:85%;
  position: static;
  height: 40px;
  flex-shrink: 0;
  border-radius: 1.0625rem;
  border: .25rem solid var(--color-b);
  background: var(--color-c);
  color: var(--text-color-a);
}

.accounts-entry-title {
  color: var(--color-e);
  text-decoration: none;
}

.accounts-list-delete-button {
  background-color: var(--color-a);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
}

.accounts-add-accounts-button {
  display: block;
  margin-left: 7.5%;
  margin-top: 15px;
  background-color: var(--color-a);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

button:hover {
  background-color: #0056b3;
}

.accounts-list-title {
  color: var(--text-color-a);
  text-decoration: none;
}

/* List of accounts styles */
.accounts-list {
  list-style: none;
  padding: 0;
}

.accounts-item {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  background-color: var(--color-d);
  color: var(--text-color-a);
  width:85%;
  padding: 7px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; /* Add this line to center the element */
  margin-bottom: 10px; /* Add this line to spread the items */
  border-radius: 4px;
}