@import url("../global/App.css");

.finance-page {
    font-family: Arial, sans-serif;
    justify-content: left;
    display: block;
    flex-wrap: wrap;
    height: 100%;
    background: var(--color-b);
    width: 100%;
    align-items: flex-start;
    padding: 30px;
    box-sizing: border-box;
    position: fixed;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    z-index: 9998;
    overflow-y: scroll; /* Add this line to enable scrolling */
  }
  
  .finance-title {
    padding-left: 7.5%;
    color: var(--text-color-a);
    font-family: Inter;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .finance-quick-entry {
    width: 99%;
    position:static;
    height: 5%;
    flex-shrink: 0;
    border-radius: 1.0625rem;
    border: .25rem solid var(--color-b);
    background: var(--color-c);
    color: var(--text-color-a);
  }
  
  /* Header styles */
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .finance-entry-title {
    color: var(--text-color-a);;
    text-decoration: none;
  }

  .finance-panel {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    background-color: var(--color-d);
    color: var(--text-color-a);
    width: 48%;
    padding: 7px;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 10px 0; /* Adjust margins for inline layout */
    border-radius: 4px;
  }  
  
  .finance-panels {
    align-items: center;
    margin-left: 7%;
    margin-right: 7%;
  }

  .finance-list {
    list-style: none;
    padding: 0;
  }
  
  .finance-item {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    background-color: var(--color-d);
    color: var(--text-color-a);
    width:85%;
    padding: 7px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; /* Add this line to center the element */
    margin-bottom: 10px; /* Add this line to spread the items */
    border-radius: 4px;
  }