/* App.css */

.app {
    display: flex;
    height: 100vh; /* Make the app take the full height of the viewport */
}

.content {
    flex-grow: 1; /* Make the content take the remaining space */
    padding: 10px;
}
  