.notes-page {
    font-family: Arial, sans-serif;
    justify-content: left;
    display: block;
    flex-wrap: wrap;
    height: 100%;
    background:#020024;
    width: 100%;
    align-items: flex-start;
  }
  
  .notes-title {
    color: #FFF;
    font-family: Inter;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .notes-quick-entry {
    width: 99%;
    position:static;
    height: 5%;
    flex-shrink: 0;
    border-radius: 1.0625rem;
    border: .25rem solid #09085F;
    background: #0F0F8E;
    color: #FFF;
  }
  
  /* Header styles */
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .notes-entry-title {
    color: #AADBE5;
    text-decoration: none;
  }
  
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* List of notes styles */
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  