/* src/Event.css */

.event {
    background-color: #086EC4;
    width: 100%;
    display: flex;
    padding: 20px;
    margin: 50px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .event-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .event-location {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .event-time {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
  }

  .event-input {
    position:static;
    width: 60%;
    height: 5%;
    flex-shrink: 0;
    border-radius: 1.0625rem;
    display: inline-block;
    border: .25rem solid #09085F;
    background: #0F0F8E;
    color: #FFF;
  }
  
  .event-description {
    font-size: 0.875rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .button {
    background-color: #086EC4;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 10px;
  }
  
  .button:hover {
    background-color: #064e99;
  }
  
  .edit-form {
    display: flex;
    flex-direction: column;
  }
  
  .edit-form input,
  .edit-form textarea {
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
  }
  
  
  .edit-form input[type="datetime-local"] {
    padding: 8px;
    font-size: 1rem;
  }
  
  .edit-buttons {
    display: flex;
    justify-content: flex-start;
  }
  
  .edit-buttons .button {
    margin-right: 10px;
  }
  
  .edit-buttons .button.cancel {
    background-color: #e74c3c;
  }
  
  .edit-buttons .button.cancel:hover {
    background-color: #c0392b;
  }
  